body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.titulo-fondo {
    background: #b6e7c9;
    color: #155724;
    padding: 24px 0;
    margin-bottom: 32px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    font-weight: bold;
    width: 100%;
    display: block;
}

.table td:nth-child(3) {
    white-space: pre-line;
    word-break: break-word;
    max-width: 300px;
}

.table img {
    max-width: 50px;
    height: auto;
}

.btn {
  width: 100%;
}